@import url('https://fonts.googleapis.com/css2?family=Crimson+Text:ital,wght@0,400;0,600;0,700;1,400;1,600;1,700&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Manrope:wght@200..800&family=Outfit:wght@100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style-type: none;
}

.navbar {
    display: flex;
    margin: 10px 20px;
    justify-content: space-between;
    /* border: 1px solid; */
}

.navbar .navleft {
    font-size: 25px;
    font-weight: 400;
    margin-top: 10px;
}

.navbar .navright ul {
    display: flex;
    font-size: 18px;;
}
.navbar .navright ul li
{
    padding: 0 15px;
    margin-top: 10px;
}
.navbar .navright ul a {
    border: 1px solid;
    text-decoration: none;
    padding: 10px 20px;
    border-radius: 50px;
    margin-left: 15px;
}
.navbar .navright .login
{
    border-color: #e1e0ec;
    color: black;
}
.navbar .navright .get
{
    background-color: #a9be66;
    border: none;
    color:  white;
}
.navbar .fa-list
{
    margin-top: 20px;
    font-size: 25px;
}

.page1
{
    text-align: center;
    margin-top: 7%;
}
.page1 h2
{
    font-size: 50px;
}
.page1 p
{
    font-size: 17px;
    margin: 20px 0 40px 0;
    color: gray;
}
.page1 a
{
    border: 1px solid;
    text-decoration: none;
    padding: 15px 20px;
    border-radius: 50px;
    background-color: #a9be66;
    border: none;
    color:  white;
    font-size: 17px;
    margin-top: 30px;
}
/* .img {
    border: 1px solid;
} */
.img .img1
{
    border-radius: 20px;
    margin-top: 200px;
    margin-left: 75px;
    position: absolute;
    z-index: 0;
}
.img .img2
{
    border-radius: 20px;
    position: relative;
    z-index: 1;
    margin-left: 42%;
    margin-top: 100px;
    height: 500px;
}

.page2
{
    margin-top: 15%;
    /* border: 2px solid; */
    text-align: center;
}
.page2 p
{
    margin-top: 15px;
    color: gray;
}
.page2 .detail .one img
{
    border-radius: 50%;
    margin: 20px 0px;
}
.page2 .detail .one 
{
    border: 2px solid gray;
    width: 300px;
    border-radius: 10px;
}
.page2 .detail 
{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin-top: 50px;
    /* border-radius: 10px; */
    margin-left: 100px;
}




















@media(min-width:993px)
{
    .navbar .fa-list
    {
        display: none;
    }
}
@media(max-width:992px)
{
    .navbar .navright
    {
        display: none;
    }  
    .img .img2
    {
        height: 385px;
    }
    .img .img1
    {
        height: 400px;
    }
}
@media(max-width:725px)
{
     .img .img2
    {
        height: 285px;
    }
    .img .img1
    {
        height: 250px;
    }
}
@media(max-width:480px)
{
     .img .img2
    {
        height: 185px;
    }
    .img .img1
    {
        height: 150px;
    }
}